#signup {
	// background: $blue-med;
}

#why-signup {

	h2 {
		margin-top: 0;
	}
}



/////////////////////   FORM

#form-signup {

	button {
		display: block;
		width: 100%;
	}
}

li {
	border-bottom: 1px solid rgba(240,210,210,.1);
	padding: .7em 0;

	&:last-child {
		border-bottom: none;
	}
}

#sent {
	display: none;
}

#form-wrapper {
	margin-top: 1em;
}

.form-success {

	#form-signup {
		display: none;
	}

	#sent {
		display: block;
	}

}

#first-name, #last-name {
	display: inline-block;
	width: 49%;
}

