.wf-loading {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
		visibility: hidden;
	}
}

.wf-active {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
		visibility: visible;
	}
}

.red-text {
	color: $red;
}

header {

	box-shadow: inset 0px -8px 24px rgba(0,0,0,.28);
	
	h1, h2 {
		text-shadow: 0 1px 1px rgba(0,0,0,.58);
	}

	h2 {
		font-style: italic;
		margin: 0 .12em;
		font-size: $base-font-size * 1.4;
	}

}

h2 {
	margin-bottom: $base-font-size * .25;
}

h1, h2, h3 {
	font-weight: 700;
}

button, input[type="submit"] {
	font-family: $base-font-family;
	font-weight: 500;
}

#why-signup h3, h4, h5, h6 {
	font-family: $base-font-family;
	font-weight: 300;
}

#sent h3 {
	line-height: 1.4em;
	margin-top: 2.6em;
}

#essay h4 {
	font-weight: 900;
	margin-bottom: 1.2em;
	margin-top: 2em;
}

#essay p {
	// text-align: justify;
}



