// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;
$museo: 'museo-sans', $helvetica;
$quatro: 'quatro-slab', $helvetica;

$base-font-family: $museo;
$header-font-family: $quatro;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: 0;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$red: #D05158;
// $offwhite: #DED8D8;
$offwhite: #F4EDED;

$blue-xtra-lt: #63849c;

// $blue-lt: #353C54;
// $blue-lt: #2E4053;
// $blue-lt: #384A70;
// $blue-lt: #303C53;

$blue-lt: #353C54;
// $blue-lt: #393C54;

$blue-med: #222939;

//possible dark blue: 131320
$blue-dark: #1B212F;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $offwhite;
$base-accent-color: $red;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 8);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
