
$section-tb-padding: 1.7em;
$section-lr-padding: 2em;
$major-section-tb-padding: 4.8em;

header, .row, footer {
	@include outer-container;
	padding: $major-section-tb-padding $section-lr-padding $section-tb-padding;
}

.row {
	padding: $section-tb-padding $section-lr-padding;
}

footer {
	padding: $major-section-tb-padding $section-lr-padding;
}

#social {

	padding-bottom: $major-section-tb-padding;

	h4 {
		margin-top: .55em;
	}
}

#first-class-explanation {
	h4 {
		margin-bottom: 1em;
	}
}

#essay-column {

	padding: 4em 2em;

	h2 {
		margin-bottom: .75em;
	}
}