header, section.row, footer {
	@include outer-container;
	padding: 3em 2em 2em;
}

section.row {
	padding: 2em 2em;
}

.desk-image {

	position: relative;

	.image-container {
		margin-top: 3em;
		width: 100%;
		height: 35em;
		background: url('../../img/desk.jpg') 50% 50% no-repeat;
		background-size: cover;
		// -webkit-filter: grayscale(45%) hue-rotate(178deg);
		// overflow: hidden;
	}

}

#social {
	h4 {
		margin-top: .15em;
	}
}