#user-signup {
	// background: $blue-med;
}

#why-signup {

	h2 {
		margin-top: 0;
	}
}



/////////////////////   FORM

#form-signup {

	margin-top: 1em;

	button {
		display: block;
		width: 100%;
		padding: .70em 0;
	}
}

li {
	border-bottom: 1px solid rgba(240,210,210,.1);
	padding: .5em 0;

	&:last-child {
		border-bottom: none;
	}
}

#sent {
	display: none;
}

.form-success {

	#form-signup {
		display: none;
	}

	#sent {
		display: block;
	}

}