.wf-loading {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
		visibility: hidden;
	}
}

.wf-active {
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
		visibility: visible;
	}
}

.red-text {
	color: $red;
}

.italic {
	font-style: italic;
	margin: 0 .21em;
}

header h2 {
	font-size: $base-font-size * 1.4;
}

h1, h2, h3 {
	font-weight: 700;
}

h4, h5, h6, button, input[type="submit"] {
	font-family: $freight;
	font-weight: 600;
}

#why-signup h3, h4, h5, h6 {
	font-weight: 400;
}